
/*------------------------------------------------------------------
[53. Responsive]
*/
@media only screen and (min-width: 1200px) {
    .header .header-right {
        width: 82%;
    }
}
@media only screen and (max-width: 1199px) {
    .custom-modal .modal-content.modal-lg {
        width: 90%;
    }
    .header .header-right {
        width: 78%;
    }
}

@media (min-width: 992px) and (max-width: 1350px) {
    .filter-row > .col-md-2 {
        width: 33.3333%;
    }
}

@media only screen and (min-width: 768px) {
    /*.header .header-right {
        width: 78%;
        justify-content: flex-end;
        padding: 20px;
        font-size: 14px;
    }*/
    .modal-backdrop.custom-backdrop.in {
        background-color: transparent;
        left: 220px;
        opacity: 1;
    }
    .modal-open .modal.custom-modal {
        left: 220px;
    }
    .modal.center-modal {
        text-align: center;
        padding: 0;
    }
    .modal.center-modal .modal-dialog:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -4px;
    }
    .modal.center-modal .modal-dialog {
        width: 100%;
        height: 100%;
    }
    .modal.center-modal .modal-content {
        display: inline-block;
        text-align: left;
        vertical-align: middle;
        width: 600px;
    }
    .custom-modal .modal-content {
        border: 0 none;
        box-shadow: inherit;
        margin: 0 auto;
        background-color: transparent;
        padding: 30px 0;
    }
    .custom-modal .modal-title {
        margin-bottom: 20px;
    }
    .custom-modal .modal-body.card-box {
        padding: 15px;
    }
    .custom-modal .modal-body {
        padding: 0;
    }
    .custom-modal .modal-dialog {
        height: 100%;
        margin: 0;
        width: 100%;
    }
    .modal.custom-modal {
        background-color: #f5f5f5;
    }
    .custom-modal .modal-header {
        border: 0;
        padding: 0;
    }
    .custom-modal .modal-footer {
        border: 0;
    }
    .modal-md {
        width: 600px;
    }
    .custom-modal button.close {
        background: #1d6ad2;
        border-radius: 50%;
        height: 50px;
        left: -15px;
        opacity: 1;
        position: relative;
        top: 15px;
        width: 50px;
        text-shadow: inherit;
        color: #fff;
        z-index: 99;
    }
    .nav-tabs.nav-justified.nav-tabs-top {
        border-bottom: 1px solid #ddd;
    }
    .nav-tabs.nav-justified.nav-tabs-top > li > a,
    .nav-tabs.nav-justified.nav-tabs-top > li > a:hover,
    .nav-tabs.nav-justified.nav-tabs-top > li > a:focus {
        border-width: 2px 0 0 0;
    }
    .nav-tabs.nav-tabs-top > li {
        margin-bottom: 0;
    }
    .nav-tabs.nav-tabs-top > li > a,
    .nav-tabs.nav-tabs-top > li > a:hover,
    .nav-tabs.nav-tabs-top > li > a:focus {
        border-width: 2px 0 0 0;
    }
    .nav-tabs.nav-tabs-top > li.open > a,
    .nav-tabs.nav-tabs-top > li > a:hover,
    .nav-tabs.nav-tabs-top > li > a:focus {
        border-top-color: #ddd;
    }
    .nav-tabs.nav-tabs-top > li + li > a {
        margin-left: 1px;
    }
    .nav-tabs.nav-tabs-top > li.active > a,
    .nav-tabs.nav-tabs-top > li.active > a:hover,
    .nav-tabs.nav-tabs-top > li.active > a:focus {
        border-top-color: #1d6ad2;
    }
    .nav-tabs.nav-tabs-bottom > li {
        margin-bottom: -1px;
    }
    .nav-tabs.nav-tabs-bottom > li.active > a,
    .nav-tabs.nav-tabs-bottom > li.active > a:hover,
    .nav-tabs.nav-tabs-bottom > li.active > a:focus {
        border-bottom-width: 2px;
        border-color: transparent;
        border-bottom-color: #1d6ad2;
        background-color: transparent;
        transition: none 0s ease 0s;
        -moz-transition: none 0s ease 0s;
        -o-transition: none 0s ease 0s;
        -ms-transition: none 0s ease 0s;
        -webkit-transition: none 0s ease 0s;
    }
    .nav-tabs.nav-tabs-bottom > li {
        margin-bottom: -1px;
    }
    .nav-tabs.nav-tabs-bottom > li.active > a,
    .nav-tabs.nav-tabs-bottom > li.active > a:hover,
    .nav-tabs.nav-tabs-bottom > li.active > a:focus {
        border-bottom-width: 2px;
        border-color: transparent;
        border-bottom-color: #1d6ad2;
        background-color: transparent;
        transition: none 0s ease 0s;
        -moz-transition: none 0s ease 0s;
        -o-transition: none 0s ease 0s;
        -ms-transition: none 0s ease 0s;
        -webkit-transition: none 0s ease 0s;
    }
    .nav-tabs.nav-tabs-solid {
        background-color: #fafafa;
        border: 0;
    }
    .nav-tabs.nav-tabs-solid > li {
        margin-bottom: 0;
    }
    .nav-tabs.nav-tabs-solid > li > a {
        border-color: transparent;
    }
    .nav-tabs.nav-tabs-solid > li > a:hover,
    .nav-tabs.nav-tabs-solid > li > a:focus {
        background-color: #f5f5f5;
    }
    .nav-tabs.nav-tabs-solid > .open:not(.active) > a {
        background-color: #f5f5f5;
        border-color: transparent;
    }
    .nav-tabs-justified.nav-tabs-top {
        border-bottom: 1px solid #ddd;
    }
    .nav-tabs-justified.nav-tabs-top > li > a,
    .nav-tabs-justified.nav-tabs-top > li > a:hover,
    .nav-tabs-justified.nav-tabs-top > li > a:focus {
        border-width: 2px 0 0 0;
    }
}

@media only screen and (max-width: 991px) {
    .profile-rightbar {
        display: inline-block !important;
    }
    .profile-info-left {
        border-right: none;
        border-bottom: 2px dashed #ccc;
        margin-bottom: 20px;
        padding-bottom: 20px;
    }
    .task-right-sidebar .task-chat-view {
        display: block;
        position: fixed;
        right: 0;
        -webkit-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        transition: all 0.4s ease;
        margin-right: 0;
    }
    .task-chat-view {
        display: none;
        -webkit-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        transition: all 0.4s ease;
        right: 0;
        transform: translateX(0px);
        z-index: 1041;
        width: 300px;
        position: fixed;
        margin-right: -300px;
        display: table-cell;
        top: 0;
        padding-bottom: 60px;
        margin-top: 60px;
    }
    .chat-profile-view {
        display: none;
        -webkit-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        transition: all 0.4s ease;
        right: 0;
        transform: translateX(0px);
        z-index: 1041;
        width: 300px;
        position: fixed;
        margin-right: -300px;
        display: table-cell;
        top: 0;
        padding-bottom: 60px;
        margin-top: 60px;
    }
    .message-view.task-view {
        width: 100%;
    }
    .pull-left.ticket-view-details {
        width: 90%;
    }
    .slide-nav .page-wrapper {
        left: 225px;
        margin-left: 0;
    }
    .chat-main-row {
        left: 0;
    }
    .header .header-left {
        position: absolute;
        width: 100%;
    }
    .mobile_btn {
        display: block;
    }
    .page-title-box {
        display: none;
    }
    /*.sidebar {*/
    /*    margin-left: -225px;*/
    /*    width: 225px;*/
    /*}*/
    /*.page-wrapper {*/
    /*    margin-left: 0;*/
    /*    padding-left: 0;*/
    /*    padding-right: 0;*/
    /*}*/
    /*.slide-nav .sidebar {*/
    /*    margin-left: 0;*/
    /*}*/
    a.mobile_btn {
        color: #fff;
        font-size: 24px;
        height: 60px;
        left: 0;
        line-height: 60px;
        padding: 0 20px;
        position: absolute;
        top: 0;
        width: 60px;
        z-index: 10;
        display: none;
    }
    .modal-open .modal.custom-modal {
        left: 0;
        top: 0;
    }
    .modal-backdrop.custom-backdrop.in {
        left: 0;
    }
    .slide-nav .page-wrapper {
        left: 225px;
        margin-left: 0;
    }
    body {
        font-size: 13px;
    }
    .sidebar-menu li a {
        font-size: 13px;
    }
    .chat-panel .custom-menu {
        margin: 11px 0 0;
    }
    .chat-panel .custom-menu.navbar-nav > li > a {
        font-size: 18px;
    }
}

@media only screen and (max-width: 767px) {
    .header .header-right {
        width: 78%;
        justify-content: flex-end;
        padding: 20px;
        font-size: 14px;
    }
    .navbar-nav .open .dropdown-menu {
        float: left;
        position: absolute;
    }
    .notifications {
        right: -48px;
    }
    .notifications::before,
    .notifications::after {
        right: 60px;
    }
    .custom-modal button.close {
        background-color: #1d6ad2;
        border-radius: 50%;
        height: 30px;
        left: -15px;
        opacity: 1;
        position: relative;
        top: 15px;
        width: 30px;
        text-shadow: inherit;
        color: #fff;
        z-index: 99;
    }
    .modal-body.card-box {
        background-color: #fff;
        border: none;
        border-radius: inherit;
        box-shadow: unset;
        margin-bottom: 0;
        padding: 15px;
    }
    .header {
        z-index: 1040;
    }
    .task-wrapper #task-list li .task-container .task-label {
        padding-right: 50px;
        word-break: unset;
    }
    .task-btn-right {
        position: absolute;
        right: 8px;
    }
    .task-wrapper #task-list li .task-container {
        padding: 8px 10px;
    }
    .task-action-btn.task-check {
        width: 36px;
    }
    .contact-cat {
        padding-right: 70px;
    }
    .roles-menu {
        margin-bottom: 20px;
    }
    .contacts-list {
        padding: 0 70px 0 15px;
    }
    .left-action {
        text-align: center;
        margin-bottom: 15px;
    }
    .right-action {
        text-align: center;
    }
    .top-action-left .pull-left {
        float: none !important;
    }
    .top-action-left .btn-group {
        margin-bottom: 15px;
    }
    .top-action-right {
        text-align: center;
    }
    .top-action-right a.btn.btn-default {
        margin-bottom: 15px;
    }
    .mail-sent-time {
        float: left;
        margin-top: 10px;
        width: 100%;
    }
    .custom-modal .modal-content.modal-lg {
        width: 100%;
    }
    .nav-tabs.nav-justified {
        border-bottom: 1px solid #ddd;
    }
    .nav-tabs.nav-justified > li.active > a,
    .nav-tabs.nav-justified > li.active > a:hover,
    .nav-tabs.nav-justified > li.active > a:focus {
        border-width: 0 0 0 2px;
        border-left-color: #1d6ad2;
    }
    .nav-tabs {
        border-bottom: 0;
        position: relative;
        background-color: #fff;
        padding: 5px 0;
        border: 1px solid #ddd;
        border-radius: 3px;
    }
    .nav-tabs > li {
        margin-bottom: 0;
    }
    .nav-tabs > li + li {
        margin-top: 1px;
    }
    .nav-tabs > li > a {
        border-width: 0 0 0 2px;
        border-left-color: transparent;
    }
    .nav-tabs > li > a:hover,
    .nav-tabs > li > a:focus {
        background-color: #fafafa;
    }
    .nav-tabs > li.active > a,
    .nav-tabs > li.active > a:hover,
    .nav-tabs > li.active > a:focus {
        border-width: 0 0 0 2px;
        border-left-color: #1d6ad2;
        background-color: #f5f5f5;
    }
    .nav-tabs > li.open:not(.active) > a,
    .nav-tabs > li.open:not(.active) > a:hover,
    .nav-tabs > li.open:not(.active) > a:focus {
        background-color: #fafafa;
    }
    .nav-tabs.nav-tabs-solid {
        padding: 5px;
    }
    .nav-tabs.nav-tabs-solid.nav-tabs-rounded {
        border-radius: 5px;
    }
    .nav-tabs.nav-tabs-solid > li > a {
        border-left-width: 0!important;
    }
    .nav-tabs-justified {
        border-bottom: 1px solid #ddd;
    }
    .nav-tabs-justified > li.active > a,
    .nav-tabs-justified > li.active > a:hover,
    .nav-tabs-justified > li.active > a:focus {
        border-width: 0 0 0 2px;
        border-left-color: #1d6ad2;
    }
    h1 {
        font-size: 2em;
    }
    h2 {
        font-size: 1.5em;
    }
    h3 {
        font-size: 1.17em;
    }
    h4 {
        font-size: 1.12em;
    }
    h5 {
        font-size: .83em;
    }
    h6 {
        font-size: .75em;
    }
    .page-title {
        font-size: 1.2em;
    }
    .card-title {
        font-size: 1.12em;
    }
    .blog-view .blog-title {
        font-size: 24px;
    }
    .widget h3 {
        font-size: 18px;
    }
    .countdown ul {
        width: 100%;
    }
    .countdown ul li.timer {
        width: 19.75%;
        min-height: inherit;
    }
    .countdown ul li.seperator {
        font-size: 40px;
        line-height: 97px;
        width: 7%;
    }
    .countdown ul li span {
        font-size: 40px;
    }
    .countdown ul li p {
        font-size: 10px;
    }
    .coming-title {
        font-size: 30px;
    }
    .title-section {
        margin-bottom: 50px;
    }
    .countdown {
        margin-bottom: 50px;
    }
    .newsletter form {
        width: 90%;
    }
    .newsletter input[type="text"] {
        width: 70%;
        height: 40px;
    }
    .submit-btn {
        width: 30%;
        height: 40px;
    }
    .my-video ul li {
        width: 80px;
    }
    .voice-call-avatar .call-avatar {
        width: 120px;
        height: 120px;
    }
    .product-info {
        margin: 20px 0 30px;
    }
    .profile-bg {
        height: 280px;
    }
}

@media only screen and (max-width: 479px) {
    .user-menu {
        display: none;
    }
    .mobile-user-menu {
        display: block;
    }
    .search-box {
        display: none;
    }
    .staff-grid-row > .col-xs-6 {
        width: 100%;
    }
    .filter-row > .col-xs-6 {
        width: 100%;
    }
    .filter-row {
        margin-bottom: 15px;
    }
    .page-wrapper > .content {
        padding: 15px;
    }
    .profile-view .profile-basic {
        margin-left: 0;
    }
    .profile-img-wrap {
        position: relative;
        margin: 0 auto;
    }
    .profile-view .profile-img-wrap {
        margin: 0 auto 10px;
        height: 100px;
        width: 100px;
    }
    .profile-view .profile-img {
        height: 100px;
        width: 100px;
    }
    .profile-view .profile-img .avatar {
        font-size: 24px;
        height: 100px;
        line-height: 100px;
        margin: 0;
        width: 100px;
    }
    .profile-info-left {
        text-align: center;
    }
    .profile-basic {
        margin-left: 0;
        margin-top: 15px;
    }
    .page-title {
        font-size: 18px;
    }
    .fc-toolbar .fc-right {
        display: inline-block;
        float: none;
        margin: 10px auto 0;
        width: 200px;
        clear: both;
    }
    .fc-toolbar .fc-left {
        float: none;
        margin: 0 auto;
        width: 200px;
    }
    .upload-text {
        font-size: 18px;
    }
    .call-duration {
        display: block;
        margin-top: 0;
        margin-bottom: 10px;
        position: inherit;
    }
    .end-call {
        margin-top: 10px;
        position: inherit;
    }
    .chat-panel .chats {
        padding: 15px 0;
    }
    .chat-right .chat-content {
        max-width: 90%;
    }
    .chat-right .chat-body {
        padding-left: 0;
        padding-right: 0;
    }
    .chat-left .chat-content {
        max-width: 90%;
    }
    .chat-left .chat-body {
        padding-left: 0;
        padding-right: 0;
    }
    .chat-avatar .avatar {
        height: 20px;
        line-height: 20px;
        width: 20px;
    }
    .account-box {
        width: 100%;
        margin-bottom: 20px;
    }
    body {
        font-size: 12px;
    }
    .sidebar-menu li a {
        font-size: 12px;
    }
    .content {
        padding: 0 50px;
    }
    .countdown ul {
        width: 100%;
    }
    .countdown ul li.timer {
        min-height: inherit;
        padding: 15px 5px;
        width: 19.75%;
    }
    .countdown ul li.seperator {
        width: 7%;
        font-size: 22px;
        padding: 0 5px;
        line-height: 55px;
    }
    .countdown ul li span {
        font-size: 22px;
    }
    .countdown ul li p {
        font-size: 7px;
    }
    .coming-title {
        font-size: 20px;
    }
    .title-section {
        margin-bottom: 20px;
    }
    .countdown {
        margin-bottom: 20px;
    }
    .newsletter form {
        width: 90%;
    }
    .newsletter input[type="text"] {
        width: 70%;
        height: 36px;
        padding: 0 10px;
    }
    .submit-btn {
        width: 30%;
        height: 36px;
        padding: 0 10px;
    }
    .sub-title {
        font-size: 11px;
    }
    .newsletter h3 {
        font-size: 16px;
    }
    .pull-left.ticket-view-details {
        width: 80%;
    }
    .chat-panel .last-seen {
        font-size: 10px;
    }
    .custom-menu.navbar-nav > li > a {
        margin-left: 10px;
    }
    .profile-bg {
        height: 180px;
    }
}
